@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";  // burada kendi istediğimiz layoutu kullanıyoruz.
}

@model List<Blog>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Blogs</h1>
    <a href="/Admin/CreateBlog" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus-square fa-sm text-white-50 mr-2"></i> Add Blog
    </a>
</div>

@{
    if (Model.Count != 0)
    {
        @foreach (var item in Model)
        {
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">@item.Name</h6>
                                <div class="">
                                    <a href="/Admin/EditBlog?id=@item.Id">
                                        <button class="btn btn-info w-100 m-1" type="button">Edit</button>
                                    </a>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                    @{
                        string description = item.Description;  // db den gelen veriyi aldık.
                        string newDesc = description.Length > 50 ? description.Substring(0, 220) + "..." : description;  //  koşullara göre işlemlerimizi yaptırdık.
                    }
                    @newDesc
                            </div>
                        </div>
        }

    }
    else
    {
                <h5 class="d-flex text-center m-5 text-black justify-content-center align-content-center">
                    No Blogs Yet
                </h5>
    }
}

